master:
  adminUser: {{ kubernetes_jenkins_admin_user }}
  adminPassword: {{ kubernetes_jenkins_admin_password }}
  jenkinsAdminEmail: admin@jenkins.io
  jenkinsUriPrefix: "/jenkins"
  enableRawHtmlMarkupFormatter: true
  initContainerEnv:
{% if ansible_env.http_proxy is defined %}
    - name: http_proxy
      value: {{ ansible_env.http_proxy }}
{% endif %}
{% if ansible_env.https_proxy is defined %}
    - name: https_proxy
      value: {{ ansible_env.https_proxy }}
{% endif %}
{% if ansible_env.no_proxy is defined %}
    - name: no_proxy
      value: {{ ansible_env.no_proxy }}
{% endif %}
  containerEnv:
{% if ansible_env.http_proxy is defined %}
    - name: http_proxy
      value: {{ ansible_env.http_proxy }}
{% endif %}
{% if ansible_env.https_proxy is defined %}
    - name: https_proxy
      value: {{ ansible_env.https_proxy }}
{% endif %}
{% if ansible_env.no_proxy is defined %}
    - name: no_proxy
      value: {{ ansible_env.no_proxy }}
{% endif %}
  installPlugins:
    {{ kubernetes_jenkins_install_plugins | to_nice_yaml | indent(4) }}
  JCasC:
    configScripts:
      {{ kubernetes_jenkins_casc_scripts | to_nice_yaml | indent(6) }}
  ingress:
    enabled: true
    path: "/jenkins"
  testEnabled: false
sidecars:
  configAutoReload:
    enabled: true
persistence:
{% if (kubernetes_install_hostpath_provisioner | bool) or (kubernetes_install_nfs_client_provisioner | bool) %}
  enabled: true
{% if kubernetes_install_nfs_client_provisioner | bool %}
  storageClass: nfs-client
{% elif kubernetes_install_hostpath_provisioner | bool %}
  storageClass: hostpath
{% endif %}
{% else %}
  enabled: false
{% endif %}
