alertmanager:
  alertmanagerSpec:
{% if (kubernetes_install_hostpath_provisioner | bool) or (kubernetes_install_nfs_client_provisioner | bool) %}
    storage:
      volumeClaimTemplate:
        spec:
          resources:
            requests:
              storage: 50Gi
{% else %}
    storage: {}
{% endif %}
    externalUrl: http://localhost/alertmanager
  ingress:
    enabled: true
    annotations:
      nginx.ingress.kubernetes.io/rewrite-target: /$2
    paths:
      - /alertmanager(/|$)(.*)

prometheus:
  prometheusSpec:
    secrets:
      - etcd-certs
    ruleSelectorNilUsesHelmValues: false
    serviceMonitorSelectorNilUsesHelmValues: false
    podMonitorSelectorNilUsesHelmValues: false
{% if (kubernetes_install_hostpath_provisioner | bool) or (kubernetes_install_nfs_client_provisioner | bool) %}
    storageSpec:
      volumeClaimTemplate:
        spec:
          resources:
            requests:
              storage: 50Gi
{% else %}
    storageSpec: {}
{% endif %}
    externalUrl: http://localhost/prometheus
  ingress:
    enabled: true
    annotations:
      nginx.ingress.kubernetes.io/rewrite-target: /$2
    paths:
      - /prometheus(/|$)(.*)

grafana:
  adminPassword: {{ kubernetes_grafana_admin_password }}
  env:
    GF_SERVER_ROOT_URL: "%(protocol)s://%(domain)s/grafana"
  ingress:
    enabled: true
    annotations:
      nginx.ingress.kubernetes.io/rewrite-target: /$2
    hosts:
      - ""
    path: /grafana(/|$)(.*)
  persistence:
{% if (kubernetes_install_hostpath_provisioner | bool) or (kubernetes_install_nfs_client_provisioner | bool) %}
    enabled: true
    size: 10Gi
{% else %}
    enabled: false
{% endif %}

kubeEtcd:
  serviceMonitor:
    scheme: https
    caFile: /etc/prometheus/secrets/etcd-certs/ca.cert
    certFile: /etc/prometheus/secrets/etcd-certs/healthcheck-client.crt
    keyFile: /etc/prometheus/secrets/etcd-certs/healthcheck-client.key
